body {
    font-family: 'Roboto Mono';
}

h1 {
    text-align: center;

}

#input {
    text-align: center;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 3px;
    margin: 10%;
    line-height: 1px;
    border-radius: 30px;
}